{% block content %}
<html>
    <head>
        <meta charset="utf8"/>
        <title>Forgotten password</title>    
        <link rel="shortcut icon" href="{{url_for('static',filename='img/fav1.ico')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='css/activate.css')}}"/>
        <script>
            function validate(){
                var password = document.getElementsByName("new_password").value
                var password_repeat = document.getElementsByName("password_repeat").value

                if (password != password_repeat){
                    alert("Given passwords are not identical.")
                    return false
                } 
            }
        </script>
        <style>
            .change_form{
                text-align: center;
            }
        </style>
    </head>
    <body>
    <div id="banner">
        
    </div>    

    <div id="content">
        <div id="window">
        <p id="upper_text">Remind password</p>
        <form action="{{url_for('forgotten_password_confirm')}}" method="POST" onsubmit="return validate()" class="change_form">
            <input type="hidden" value="{{code}}" name="code"/>
            <input type="password" name="old_password" placeholder="old password"/></br>
            <input type="password" name="new_password" placeholder="new password"/></br>
            <input type="password" name="new_password_repeat" placeholder="new password"/></br>
            <input type="submit" value="Confirm" id="submit"/> 
            <p id="bottom_text">You will be redirected to home site where you can log in.</p>
        </form>
    </div>
        
    </div>    

    <div id="footer">
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('rules')}}">Rules</a>
        <a href="{{url_for('help')}}">Terms</a>
        <a href="{{url_for('login')}}">Registration</a> 

    </div>
    </body>
</html>
{% endblock content %}