{% block content %}
<style>
    #block{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #avatar_div{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

    }    
    #avatar{
        max-height: 100%;
        max-width: 100%;
        height: 150px;
        width: 150px;
    }
    #name{
        font-size: 120%;   
    }
    .informations{
        background-color: whitesmoke;
    }
    
</style>

<div id="block">
    <div id="avatar_div">
        <img id="avatar" src="{{data[0]}}" alt="avatar.extension"/>
    </div>      
    <div id="name">
        <div class="info_row">Login: {{data[1]}}</div>   
        <div class="info_row">Name: {{data[4]}}</div>
        <div class="info_row">Second name: {{data[5]}}</div>
        <div class="info_row">Last name: {{data[6]}}</div>
    </div>
    <div id="informations">                             
        <div class="info_row">Email: {{data[2]}}</div>                                
        <div class="info_row">Phone number: {{data[3]}}</div>                                
        <div class="info_row">Date od birth: {{data[7]}}</div>                                
        <div class="info_row">date of account creation : {{data[8]}}</div>      
        </br>                          
        <div class="info_row">Description: {{data[9]}}</div>                                
    </div>
</div>
{% endblock content %}