<style>
    #user_block{
        background-color: cadetblue;
        width: 100%;
        text-align:left;     
        padding: 25px;            
        }
    #invite_button{
        background-color: chartreuse;
    }
    
</style>
<script>
    function delete_block(e)
        {
            e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        }
</script>

{% for usr in users_list %}
    <div id="user_block">
        <div id="user">{{usr[0]}}</div>
        <div id="invite_button"><a href="{{ url_for('send_invite',name=usr[0]) }}" onclick="delete_block(this)">Invite</a></div>
    </div>
{% endfor %} 