<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Messenger</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main_anonymous.css')}}"/>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/fav1.ico')}}"/>
</head>
<body>
    <div class="banner">
        <div class="banner_left">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="MESSENGER" class="banner_logo"/>
        </div>
        <div class="banner_right">
            <form class="login_form" action="{{url_for('login')}}" method="POST">
                <input type="text" name="username" placeholder="Login" />
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" name="sub" value="Log in" />
            </form>
            <a class="forgotten_password" href="{{url_for('forgotten_password')}}">Forgotten password</a>
            
        </div>


    </div>
    <div class="content">
        <div class="left_content">
            <h1 id="register_inscription">Register now!</h1>
            <img src="static/img/reg.png" alt="No picture :(" style="width:450px;height:450px;"/>
        </div>
        <div class="right_content"> 
            <form class="register" action="{{url_for('register')}}" method="POST" id="register_form"><br/> 
                <input type="text" name="username"  placeholder="Login"/><br/>
                <input type="password" name="password" placeholder="Password"/><br/>
                <input type="password" name="password_repeat" placeholder="Repeat password"/><br/>
                <input type="email" name="email" placeholder="Email"/><br/>
                <input type="text" name="first_name" placeholder="Name" /><br/>
                <input type="text" name="second_name" placeholder="Middle name"/><br/>
                <input type="text" name="last_name" placeholder="Last name"/><br/>
                <input type="number" min="0" step="1" name="phone_number" placeholder="Phone number"/><br/>
                <input type="date" name="birth_date" placeholder="Date of birth" /><br/>
                <h3 id="accept_reg">Accept 
                    <a href="static/txt/reg.txt">terms</a>
                    <input type="checkbox" name="agreed" placeholder="I agree" /><br/>
                </h3>
                <input type="submit" name="sub" value="Register" onclick="return validate()"/><br/>
            </form> 
            <script>
                function validate(){
                    var username = document.forms["register_form"]["username"].value;
                    var password = document.forms["register_form"]["password"].value;
                    var password_repeat = document.forms["register_form"]["password_repeat"].value;
                    var email = document.forms["register_form"]["email"].value;
                    var first_name = document.forms["register_form"]["first_name"].value;
                    var second_name = document.forms["register_form"]["second_name"].value;
                    var last_name = document.forms["register_form"]["last_name"].value;
                    var phone_number = document.forms["register_form"]["birth_date"].value;
                    var birth_date = document.forms["register_form"]["username"].value;
                    var  agreed = document.forms["register_form"]["agreed"].value;

                    if(username.length < 3 || username.length > 32){
                        alert("Incorrect login length (5-32).");
                        return false;
                    } 

                    if(password.length < 8 || password.length > 64){
                        alert("Incorrect password length (8-64).");
                        return false;
                    } 
                 /* zrobic walidwanie znakow  */
  
                    if(password != password_repeat){
                        alert("Given passwords are not identical.");
                        return false;
                    } 
                    if(email.length < 5 || email.length > 64){  /* walidacje mejla zrobic*/
                        alert("Incorrect email address.");
                        return false;
                    } 
                    if(first_name.length < 3 || first_name.length > 32){
                        alert("Incorrect name length (3-32).");
                        return false;
                    } 
                    if(first_name.length < 3 || first_name.length > 48){
                        alert("Incorrect last name length (3-48).");
                        return false;
                    } 
                    if(phone_number.length < 7 || phone_number.length > 11){
                        alert("Incorrect phone number length.");
                        return false;
                    } 
                    if(birth_date == ""){
                        alert("Incorrect date of birth length.");
                        return false;
                    } 
                    if(agreed != "on"){
                        alert("You have to accept terms.");
                        return false;
                    } 
                }
            </script>
        </div>

    </div>


    <div class="footer">
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('rules')}}">Rules</a>
        <a href="{{url_for('help')}}">Terms</a>
        <a href="{{url_for('login')}}">Registration</a> 

    </div>
</body>