{% block content %}
<html>
    <head>
        <meta charset="utf8"/>
        <title>Messenger</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='img/fav1.ico')}}"/>
    </head>
    <body>
        <div class="banner">
            <div class="banner_left">
                <img src="{{url_for('static',filename='img/logo.png')}}" alt="MESSENGER" class="banner_logo"/>
            </div>
            <div class="banner_right">
                <div class="dropdown">
                    <button onclick="dropdown()" class="dropbutton">Options</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{{url_for('home')}}">Chat</a>
                        <a href="{{url_for('profile')}}">Profile</a>
                        <a href="{{url_for('settings')}}">Settings</a>
                        <a href="{{url_for('logout')}}" id="logout">Log out</a>
                    </div>
                </div>
            </div>
            <script>

                function dropdown() {
                  document.getElementById("myDropdown").classList.toggle("show");
                }
                
                window.onclick = function(event) {
                  if (!event.target.matches('.dropbutton')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                      var openDropdown = dropdowns[i];
                      if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                      }
                    }
                  }
                }
                </script>
        </div>
        <div class="left">
            <div class="flex_options">
                <div class="opt_row">
                    <div class="opt">
                        Info
                    </div>
                    <div class="opt">
                        Logs
                    </div>
                </div>
                <div class="opt_row">
                    <div class="opt">
                        Help
                    </div>
                    <div class="opt">
                        Remove account
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="avatar">
                <img id="avatar_image" src={{avatar_path}}/>
                
            </div>
            <div class="change_avatar">
                <form enctype="multipart/form-data" action="{{url_for('upload_image')}}" method="post">
                    <label>
                        <input id="image-file" name="image-file" type="file" accept="image/x-jpg,image/bmp,image/jpeg"/>
                        (max 3MB)
                    </label>
                    <input type="submit" id="sub" value="Confirm"/>
                </form>
            </div>
            <div class="change_data">
                <form name="change_data_form" action="{{url_for('change_user_data')}}" id="change_data_form" method="POST">
                    <div id="change_data_form_left">

                        <label for="first_name">Name: </label> 
                        <input type="text" name="first_name" value="" class="form_input"/>

                        <label for="last_name">Second Name (optional): </label>
                        <input type="text" name="second_name" value="" class="form_input"/>

                        <label for="Telefon: ">Last name: </label>
                        <input type="text" name="last_name" value=""/>

                        <label for="Telefon: ">Phone number: </label>
                        <input type="text" name="phone_number" value=""/>

                        <label for="Telefon: ">Date of birth: </label>
                        <input type="date" name="birth_date" value=""/>

                        <input type="submit" value="Change" id="form_sub"/>
                    </div>
                    <div id="change_data_form_right">
                        <label for="last_name">Description: </label>
                        <textarea placeholder="max 100 characters" rows="8" cols="75" name="description" form="change_data_form"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            test
        </div>
    </body>
</html>
{% endblock content %}

