<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Messenger</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main_anonymous.css')}}"/>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/fav1.ico')}}"/>
    <style>
        .content{
            display:flex;
            justify-content:center;
        }

        .window{
            display:flex;
            justify-content:center;
            flex-direction: column;    
        }

    </style>
</head>
<body>
    <div class="banner">
        <div class="banner_left">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="MESSENGER" class="banner_logo"/>
        </div>
        <div class="banner_right">
            <form class="login_form" action="{{url_for('login')}}" method="POST">
                <input type="text" name="username" placeholder="Login" />
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" name="sub" value="Log in" />
            </form>
            <a class="forgotten_password" href="{{url_for('forgotten_password')}}">Forgotten password</a>
            
        </div>
    </div>
    <div class="content">
        <div class="window">
            <a id="window_title" style="color:black; font-size: 30px; font-style: Arial;">Change password</a>
            </br>
            <a style="color:black; font-size: 20px; font-style: Arial;">In order to password change we will send you email with confirmation.</a>
            </br>
           
            <form class="form" action="send_forgotten_pass_email" method="POST">
                <input type="text" name = "identification" placeholder="E-mail or login"/>
                <input type="submit" value="Wyślij"/>
            </form>

        </div>

    </div>
    <div class="footer">
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('rules')}}">Rules</a>
        <a href="{{url_for('help')}}">Terms</a>
        <a href="{{url_for('login')}}">Registration</a>  

    </div>
</body>